@import url(http://fonts.googleapis.com/css?family=Open+Sans:300italic,400italic,400,300,600,700);

.well, .navbar-inner, .popover, .btn, .tooltip, input, select, textarea, pre, .progress, .modal, .add-on, .alert, .table-bordered, .nav>.active>a, .dropdown-menu, .tooltip-inner, .badge, .label, .img-polaroid {
	-moz-box-shadow: none !important;
	-webkit-box-shadow: none !important;
	box-shadow: none !important;
	-webkit-border-radius: 0px !important;
	-moz-border-radius: 0px !important;
	border-radius: 0px !important;
	border-collapse: collapse !important;
	background-image: none !important;
}

body {
	font-family:'Open Sans', 'Helvetica Neue', Helvetica, Arial, sans-serif;
	background:#f5f5f5;
}

.logo h1 {
	color:#dd1c2b;
	font-weight:100;
	text-align:center;
	font-size:6em;
	margin:0 0 15px;
	letter-spacing:-3px;
}

.logo .thing {
	position:absolute;
	z-index:-1;
	left:50%;
	margin-top:-30px;
	margin-left:65px;
	background:#dd1c2b;
	height:84%;
	width:5px;
}

nav {
	background:#eee;
	text-align:center;
}

nav .active {
	background:#e5e5e5;
}

nav ul li {
	display:inline-block;
	list-style:none;
	padding:10px;
}

nav ul li a:hover {
	text-decoration:none;
}

nav ul {
	padding:0;
	border-bottom:1px #e5e5e5 solid;
}

.container.search, .container.results {
	box-shadow:0 0 3px rgba(0,0,0,.1);
	background:#fff;
	position:relative;
	z-index:0;
}

.container.search {
	overflow:hidden;
	top:80px;
	max-width:500px;
	padding:100px 60px;
	transition:all 0.4s ease-out;
}

.searched .container.search {
	top:20px;
	max-width:100%;
	padding:30px 60px 60px;
}

.search-input {
	display:relative;
}

.searching {
	display:none;
	opacity:0.8;
	width:30px;
	height:30px;
	position:absolute;
	margin-top:12px;
	right:72px;
	z-index:2;
	background:url('../images/searching.gif') no-repeat;
	background-size:100%;
}

form.search input {
	font-size:2em;
	font-weight:100;
	height:55px;
}

.container.results {
	margin:60px auto;
	padding:30px;
	display:none;
}

.result {
	padding:20px 0;
	border-bottom:1px solid #eee;
}

.result-header a {
	display:block;
}

.result-title {
	font-size:1.4em;
}

.result-url {
	margin-top:-2px;
	color:#dd1c2b;
}

.result-url:hover, .result-url:active {
	text-decoration:none;
	color:#dd1c2b;
}

.result-body {
	margin:5px 0;
}

.result-text {
	max-width:550px;
	display:block;
	margin-bottom:8px;
}

.result-header > span {
	font-size:0.9em;
	font-weight:100;
}

.result-stats {
	margin-top:15px;
	text-align:right;
}

.result-stat {
	text-align:center;
	display:inline-block;
	background:#eee;
	padding:5px 10px;
	border-radius:3px;
	border:1px solid #ddd;
}
.result-stat + .result-stat {
	margin-left:15px;
}

.result-stats span {
	display:block;
	font-size:1.4em;
}

.result-frequent, .result-buttons {
	display:inline-block;
}

.result-frequent span + span {
	margin-left:10px;
}

.result-buttons {
	margin-top:-2px;
	float:right;
	display:none;
}

.result-buttons > * + * {
	margin-left:2px;
}

.result:hover .result-buttons {
	display:block;
}

footer {
	margin:20px 0;
	display:none;
}

.searched footer {
	display:block;
}


.history {
	display:none;
	position:absolute;
	top:40px;
	left:50%;
	margin-left:-5px;
	width:400px;
	padding:30px;
	background:white;
	border:1px solid #e5e5e5;
	box-shadow:0 2px 3px rgba(0,0,0,0.1);
}

.history-list {
	max-height:200px;
	overflow:auto;
	margin-bottom:10px;
}

.history-query {
	font-size:1.4em;
}

.history-date {
	font-size:0.9em;
	color:#999;
}

.popover {
	max-height:300px;
	min-width:500px;
	
}

.popover .popover-content {
	overflow:auto;
	max-height:250px;
}

.autocomplete {
	position:absolute;
	font-size:1.2em;
	font-weight:100;
	margin-left:10px;
	margin-top:7px;
}

.autocomplete span {
	cursor:pointer;
}
.autocomplete span:hover {
	color:#dd1c2b;
}